img{
    width: 110px;
}

body{
    background-image: cross-fade(url("https://images.unsplash.com/photo-1612835362596-5b7b8e5b7b0f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZCUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"), url("https://images.unsplash.com/photo-1612835362596-5b7b8e5b7b0f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZCUyMGNvbG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"));
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(154, 245, 245);

}

.nav_divs{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
 }

#logo_holder{
    background-color: none;
    display: flexbox;
    gap: 10px;

}

#whoami_holder{
    border-radius: 7px;
    background-color: rgb(39, 64, 138);
    display: flex;
    gap: 10px;
}

#menu_holder{
    border-radius: 50%;
    background-color: rgb(17, 28, 59);
    display: flex;
    gap: 10px;
}

.nav_divs{
   position: relative;
   display: flex;
   gap: 200px;
}

h1{
    text-decoration: rgb(160, 92, 2);
}

.logos{
    
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.posters{
    text-align: center;
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.banners{
    text-align: center;
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.videos{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.business_cards{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.complimentary_cards{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.letter_heads{
    text-decoration: rgb(255, 255, 255);
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.brochures{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.calenders{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.website_development{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px; 
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255); 
}

#footer{
    background-color: black;
    text-align: center;
    text-decoration: aqua;
    padding: 25px 30px;
    height: 75px;
    border-radius: 10px;
}

p{
    text-align: center;
    text-decoration: aqua;
    padding: 25px 30px;
    height: 75px;
    border-radius: 10px;
}

#contact{
    display: flex;
    align-content: center;
}

h1{
    text-align: center;
    text-decoration: rgb(248, 221, 185);
}

.Contact_info ul{
    list-style: none;
    display: flex;
    direction: ltr;
    justify-content: space-between;
}

#logos:hover{
    color: #000;
}

