img{
    width: 120px;
}

#logo_holder:hover{
    transform: scale(2.0);
}

body{
    color: rgb(217, 217, 219);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:center
}

.nav_divs{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
 }

#logo_holder{
    background-color: wheat;
    display: flexbox;
    gap: 10px;

}

#whoami_holder{
    border-radius: 7px;
    background-color: rgb(39, 64, 138);
    display: flex;
    gap: 30px;
}

#menu_holder{
    border-radius: 50%;
    background-color: rgb(17, 28, 59);
    display: flex;
    gap: 10px;
}

.nav_divs{
   position: relative;
   display: flex;
   gap: 200px;
}

.logos{
    position: center;
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.posters{
    text-align: center;
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.banners{
    text-align: center;
    background-color: none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.videos{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.business_cards{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.complimentary_cards{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.letter_heads{
    text-decoration: rgb(255, 255, 255);
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.brochures{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.calenders{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

.website_development{
    text-align: center;
    background-color:none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px; 
    width: 85%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255); 
}

footer{
    background-color: rgb(61, 59, 59);
    text-align: center;
    text-decoration: aqua;
    padding: 25px 30px;
    height: 75px;
    width: 100%;
}

p{
    text-align: center;
    text-decoration: aqua;
    padding: 25px 30px;
    height: 75px;
    border-radius: 10px;
}

#contact{
    display: flex;
    align-content: center;
}

h1{
    text-align: center;
    text-decoration: rgb(248, 221, 185);
}

.Contact_info ul{
    list-style: none;
    display: flex;
    direction: ltr;
    justify-content: space-between;
}

#logos:hover{
    color: #000;
}

